@use 'settings/index' as *;
@use 'elements/index' as *;
@use 'utils' as *;

@use 'settings/reset.scss' as *;
@use 'settings/normalize.scss' as *;

@use 'comps/layout/index' as *;

html {
  overscroll-behavior: none;
  overflow-x: hidden;

  font-family: $font-primary, sans-serif;

  body {
    min-height: 100vh;

    overflow-x: hidden;

    font-weight: 400;
    color: $color-blck-rich;
    background-color: $color-background;

    a {
      cursor: pointer;

      /* color: red !important; */
      /* text-decoration: underline; */
      /* color: $color-primary; */

      color: $color-blck-rich;
    }
  }
}
